.card {
    width: 100%;
    max-width: 480px;
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: 10px 10px 0px hsl(0, 0%, 7%);
}
.cardImage {
    width: 100%;
    border-radius: 15px;
}
.textContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.subject {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    border-radius: 5px;
}
.title {
    font-size: 1.5rem;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
}
.description {
    color: hsl(0, 0%, 42%);
    line-height: 1.5rem;
}
.authorContainer {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-size: 1rem;
    font-weight: 800;
}
.authorContainer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media (max-width: 480px) {
    .card {
        width: 80%;
    }
}