@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    min-height: 100dvh;
    font-size: 1rem;
}
.App {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}